/*COLORS*/
/*TEXT SIZE*/
/*HOME PAGE*/
/*MAIN*/
/*CARD*/
/*RESPONCIVE*/
/*ANIMATION*/
/*MENU CARD*/
@keyframes rotate {
  0% {
    transform: translateX(50px) rotate(100deg);
  }
  50% {
    transform: translateX(25px) rotate(100deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes card-apparition {
  0% {
    opacity: 0;
    transform: translateY(60px);
    animation-timing-function: cubic-bezier(0.01, 0.86, 0.37, 1);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*HEART*/
@keyframes heart {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/*LOADER*/
@keyframes letter-shake {
  0% {
    transform: translateX(0) scaleY(1);
  }
  25% {
    transform: translateX(0.3vw) scaleY(1.05) scaleX(0.95);
  }
  50% {
    transform: translateX(0.6vw) scaleY(1);
  }
  75% {
    transform: translateX(0.3vw) scaleY(1.01) scaleX(0.95);
  }
  100% {
    transform: translateX(0) scaleY(1);
  }
}
@keyframes letter-jump {
  0% {
    transform: scale(1.2, 0.9);
  }
  4% {
    transform: translateY(-10vw) scale(0.9, 1.2);
  }
  5% {
    transform: translateY(0) scale(1.4, 0.8);
  }
  20%, 60% {
    transform: scale(1);
    transition-timing-function: ease-in;
  }
  66%, 67% {
    transform: translateY(-5vw) scale(0.9, 1.2);
    transition-timing-function: ease-out;
  }
  73% {
    transform: translateY(0) scale(1.4, 0.8);
  }
  90% {
    transform: translate(0) scale(1);
  }
}
@keyframes loader-translate-y--1 {
  0%, 5% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  15.5%, 18% {
    transform: translateY(17.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  45%, 55% {
    transform: translate(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  65.5%, 68% {
    transform: translateY(-17.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  95%, 100% {
    transform: translateY(0);
  }
}
@keyframes loader-translate-y--2 {
  0%, 5% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  15.5%, 18% {
    transform: translateY(12.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  45%, 55% {
    transform: translate(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  65.5%, 68% {
    transform: translateY(-12.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  95%, 100% {
    transform: translateY(0);
  }
}
@keyframes loader-translate-y--3 {
  0%, 5% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  15.5%, 18% {
    transform: translateY(7.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  45%, 55% {
    transform: translate(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  65.5%, 68% {
    transform: translateY(-7.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  95%, 100% {
    transform: translateY(0);
  }
}
@keyframes loader-translate-y--4 {
  0%, 5% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  15.5%, 18% {
    transform: translateY(2.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  45%, 55% {
    transform: translate(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  65.5%, 68% {
    transform: translateY(-2.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  95%, 100% {
    transform: translateY(0);
  }
}
@keyframes loader-translate-y--5 {
  0%, 5% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  15.5%, 18% {
    transform: translateY(-2.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  45%, 55% {
    transform: translate(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  65.5%, 68% {
    transform: translateY(2.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  95%, 100% {
    transform: translateY(0);
  }
}
@keyframes loader-translate-y--6 {
  0%, 5% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  15.5%, 18% {
    transform: translateY(-7.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  45%, 55% {
    transform: translate(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  65.5%, 68% {
    transform: translateY(7.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  95%, 100% {
    transform: translateY(0);
  }
}
@keyframes loader-translate-y--7 {
  0%, 5% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  15.5%, 18% {
    transform: translateY(-12.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  45%, 55% {
    transform: translate(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  65.5%, 68% {
    transform: translateY(12.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  95%, 100% {
    transform: translateY(0);
  }
}
@keyframes loader-translate-y--8 {
  0%, 5% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  15.5%, 18% {
    transform: translateY(-17.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  45%, 55% {
    transform: translate(0);
    transition-timing-function: cubic-bezier(0.15, 0.89, 0.78, 0.99);
  }
  65.5%, 68% {
    transform: translateY(17.5vw);
    transition-timing-function: cubic-bezier(1, 0, 1, 0.44);
  }
  95%, 100% {
    transform: translateY(0);
  }
}
@keyframes disappearing {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /*font-family: 'Shrikhand', cursive;*/
  font-size: 18px;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  body {
    width: 50%;
    margin: auto;
  }
}

a {
  text-decoration: none;
  color: #000;
}

button {
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  cursor: pointer;
  border: none;
  padding: 16px 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 5px #d1d1d1;
  transition: all 250ms;
}
button:hover {
  box-shadow: -1px 3px 6px #6b6b6b;
  opacity: 0.9;
}

.heart {
  display: block;
  position: relative;
  width: 35px;
  z-index: 1;
  text-align: center;
}
.heart input[type=checkbox] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.heart input[type=checkbox]:checked + label > .fa-regular {
  opacity: 0;
  animation: heart 200ms;
}
.heart input[type=checkbox]:checked + label > .fa-solid {
  opacity: 1;
  animation: heart 200ms;
}
.heart input[type=checkbox]:hover + label > .fa-regular {
  opacity: 0;
}
.heart input[type=checkbox]:hover + label > .fa-solid {
  opacity: 1;
}
.heart .fa-regular {
  z-index: 1;
  opacity: 1;
  transition: opacity 300ms;
  cursor: pointer;
}
.heart .fa-solid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  opacity: 0;
  transition: opacity 200ms;
}

.menu-card {
  display: flex;
  margin: 15px 0;
  background-color: white;
  cursor: pointer;
}
.menu-card__text-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 20px;
  padding: 4%;
}
.menu-card h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: width 450ms;
  width: 70vw;
}
@media screen and (min-width: 768px) {
  .menu-card h3 {
    width: 50vw;
  }
}
@media screen and (min-width: 992px) {
  .menu-card h3 {
    width: 25vw;
  }
}
.menu-card__price {
  font-size: 15px;
  font-weight: 500;
  margin: 0 20px;
}
.menu-card__subtitle {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: width 450ms;
  width: 70vw;
}
@media screen and (min-width: 768px) {
  .menu-card__subtitle {
    width: 50vw;
  }
}
@media screen and (min-width: 992px) {
  .menu-card__subtitle {
    width: 25vw;
  }
}
.menu-card__validation-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  transition: width 450ms;
}
.menu-card__validation-box i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #99E2D0;
  font-size: 15px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  transform: rotate(0deg);
  transition: transform 500ms;
}
.menu-card--1 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 200ms;
}
.menu-card--2 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 400ms;
}
.menu-card--3 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 600ms;
}
.menu-card--4 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 800ms;
}
.menu-card--5 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 1000ms;
}
.menu-card--6 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 1200ms;
}
.menu-card--7 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 1400ms;
}
.menu-card--8 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 1600ms;
}
.menu-card--9 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 1800ms;
}
.menu-card--10 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 2000ms;
}
@media screen and (min-width: 768px) {
  .menu-card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .menu-card {
    min-width: 450px;
  }
}

.radio-toolbar input {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar input:checked + label > .card > .menu-card__text-box > div > p {
  width: 45vw;
}
@media screen and (min-width: 768px) {
  .radio-toolbar input:checked + label > .card > .menu-card__text-box > div > p {
    width: 30vw;
  }
}
@media screen and (min-width: 992px) {
  .radio-toolbar input:checked + label > .card > .menu-card__text-box > div > p {
    width: 15vw;
  }
}
.radio-toolbar input:checked + label > .card > .menu-card__text-box > div > h3 {
  width: 45vw;
}
@media screen and (min-width: 768px) {
  .radio-toolbar input:checked + label > .card > .menu-card__text-box > div > h3 {
    width: 30vw;
  }
}
@media screen and (min-width: 992px) {
  .radio-toolbar input:checked + label > .card > .menu-card__text-box > div > h3 {
    width: 15vw;
  }
}
.radio-toolbar input:checked + label > .card > .menu-card__validation-box {
  width: 30%;
}
.radio-toolbar input:checked + label > .card > .menu-card__validation-box > i {
  transform: rotate(360deg);
}
.radio-toolbar input:not(:checked):hover + label > .card > .menu-card__text-box > div > p {
  width: 45vw;
}
@media screen and (min-width: 768px) {
  .radio-toolbar input:not(:checked):hover + label > .card > .menu-card__text-box > div > p {
    width: 30vw;
  }
}
@media screen and (min-width: 992px) {
  .radio-toolbar input:not(:checked):hover + label > .card > .menu-card__text-box > div > p {
    width: 15vw;
  }
}
.radio-toolbar input:not(:checked):hover + label > .card > .menu-card__text-box > div > h3 {
  width: 45vw;
}
@media screen and (min-width: 768px) {
  .radio-toolbar input:not(:checked):hover + label > .card > .menu-card__text-box > div > h3 {
    width: 30vw;
  }
}
@media screen and (min-width: 992px) {
  .radio-toolbar input:not(:checked):hover + label > .card > .menu-card__text-box > div > h3 {
    width: 15vw;
  }
}
.radio-toolbar input:not(:checked):hover + label > .card > .menu-card__validation-box {
  width: 30%;
}
.radio-toolbar input:not(:checked):hover + label > .card > .menu-card__validation-box > i {
  animation: rotate 500ms forwards;
}

.card {
  box-shadow: 0px 4px 5px #d1d1d1;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 40%;
  max-width: 392px;
  margin: 19px;
}
header i {
  color: #353535;
  font-size: 22px;
  position: relative;
  right: 300%;
}

.cover {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.menu-main {
  background-color: #f6f6f6;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -60px;
  padding: 30px 5%;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.menu h1 i {
  margin-right: 5%;
}
.menu h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 4px;
  margin-top: 30px;
}
.menu__underline-title {
  background-color: #99E2D0;
  width: 10%;
  max-width: 60px;
  height: 3px;
}
.menu button {
  margin-left: 25%;
  width: 50%;
  margin-top: 30px;
}

footer {
  margin: 0;
  padding: 5px 0 35px 5%;
  width: 100%;
  background-color: #353535;
  color: white;
}
footer h4 {
  font-family: "Shrikhand", cursive;
}
footer ul {
  list-style-type: none;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
}
footer li {
  margin: 7px 0;
}
footer .fa-utensils {
  margin-right: 9px;
  font-size: 15px;
}
footer .fa-handshake-angle {
  margin-right: 7px;
  font-size: 12px;
}
footer a {
  color: white;
}
@media screen and (min-width: 768px) {
  footer {
    padding-left: 10%;
    font-size: 30px;
  }
  footer a {
    font-size: 20px;
  }
}

.loader {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(147, 86, 220, 0.95);
  animation: disappearing 500ms 3s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 5vw;
}
.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 9vw;
}
.loader-box__letter {
  margin-bottom: 0.5vw;
  display: block;
  transform-origin: bottom;
  animation: letter-shake 0.5s infinite;
}
.loader-box--1 .loader-box__letter {
  transform-origin: bottom;
  animation: letter-jump 2s infinite;
}
.loader-box--8 .loader-box__letter {
  animation: letter-jump 2s 1s infinite;
}
.loader-box__suport {
  height: 5vw;
  width: 100%;
  background-color: #FF79DA;
}
.loader-box--1 {
  animation: loader-translate-y--1 2s infinite;
}
.loader-box--2 {
  animation: loader-translate-y--2 2s infinite;
}
.loader-box--3 {
  animation: loader-translate-y--3 2s infinite;
}
.loader-box--4 {
  animation: loader-translate-y--4 2s infinite;
}
.loader-box--5 {
  animation: loader-translate-y--5 2s infinite;
}
.loader-box--6 {
  animation: loader-translate-y--6 2s infinite;
}
.loader-box--7 {
  animation: loader-translate-y--7 2s infinite;
}
.loader-box--8 {
  animation: loader-translate-y--8 2s infinite;
}

.header-shadow {
  height: 5px;
  background: linear-gradient(#c4c4c4, #eaeaea);
}

.location {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.location p {
  margin: 15px;
}

.presentation {
  text-align: center;
  background-color: #f6f6f6;
  padding: 10%;
  padding-bottom: 60px;
}
.presentation h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px 10%;
}
.presentation p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 30px;
}

.functioning {
  padding: 30px 5%;
}
.functioning h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 5px 0;
}
.functioning-card {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  height: 65px;
  margin: 30px auto;
  background-color: #f6f6f6;
}
.functioning-card--1 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 3.2s;
}
.functioning-card--2 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 3.4s;
}
.functioning-card--3 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 3.6s;
}
.functioning-card--4 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 3.8s;
}
.functioning-card--5 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 4s;
}
.functioning-card--6 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 4.2s;
}
.functioning-card--7 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 4.4s;
}
.functioning-card--8 {
  animation: card-apparition 1000ms backwards;
  animation-delay: 4.6s;
}
.functioning-card__nbr {
  position: absolute;
  left: -7px;
  font-size: 13px;
  width: 23px;
  height: 23px;
  border-radius: 23px;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.functioning-card i {
  position: absolute;
  left: 13%;
  font-size: 19px;
  color: #828282;
}
@media screen and (min-width: 768px) {
  .functioning-card {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .functioning-card {
    min-width: 450px;
  }
}

.restaurant {
  padding: 30px 5%;
  background-color: #f6f6f6;
}
.restaurant h2 {
  font-size: 24px;
  font-weight: 700;
}
.restaurant-card {
  display: block;
  position: relative;
  margin: 50px 0;
  height: 250px;
}
.restaurant-card img {
  object-fit: cover;
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0 0;
}
.restaurant-card__title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.restaurant-card__title-box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
}
.restaurant-card__title-box p {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}
.restaurant-card__title-box .fa-solid {
  font-size: 30px;
}
.restaurant-card__title-box .fa-regular {
  font-size: 30px;
}
.restaurant-card__new-tag {
  position: absolute;
  right: 4%;
  top: 0;
  background-color: #99E2D0;
  color: #217460;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .restaurant-card {
    width: 70%;
    margin: 50px auto;
  }
}
@media screen and (min-width: 992px) {
  .restaurant-card {
    min-width: 450px;
  }
}

/*# sourceMappingURL=main.css.map */
