 @import "./utils/variables";
 @import "./utils/fonctions";
 @import "./utils/mixins";

 @import "./base/base";


header{
  display: flex;
  justify-content: center;
  box-shadow: 0px 50px 20px black;
  z-index: 2;   
  img{
    width: 40%;
    max-width: 392px;
    margin: 20px;
  }
}

.location{
  @include text-size(location);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background-dark;
  padding: 2px;
      p{
    margin: 15px;    
  }
}

.presentation{
  text-align: center;
  background-color: $color-background-light;
  padding: 10%;
  padding-bottom: 60px;
  h1{
    @include text-size(home-title);
    margin: 0px 10%;    
  }
  p{
    @include text-size(subtitle);
    margin-top: 10px;
    margin-bottom: 30px
  }
}

button{
  @include text-size(btn);
  background: linear-gradient($color-secondary, $color-primary);
  color: $color-white;
  border: none;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 2px 5px gray;
}

.functioning{
  padding: 1% 20px;
  h2{
    @include text-size(home-title)
  }
  &-card{
    width: 90%;
    margin: auto;
    box-shadow: 0px 3px 4px gray;
    border-radius: 20px;
    background-color: $color-background-light;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}