/*MENU CARD*/
@keyframes rotate{
  0%{
    transform: translateX(50px) rotate(100deg);
    
  }
  50%{
    transform: translateX(25px) rotate(100deg);
  }
  100%{
    transform: translateX(0) rotate(360deg);
    }
}

/*HEART*/
@keyframes heart{
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/*LOADER*/
@keyframes letter-shake{
  0%{
    transform: translateX(0) scaleY(1);
  }
  25%{
    transform: translateX(0.3vw) scaleY(1.05) scaleX(0.95);
  }
  50%{
    transform: translateX(0.6vw) scaleY(1);
  }
  75%{
    transform: translateX(0.3vw) scaleY(1.01) scaleX(0.95);
  }
  100%{
    transform: translateX(0) scaleY(1);
  }
}

@keyframes letter-jump{
  0%{
    transform: scale(1.2, 0.9);
  }
  
  4%{
    transform: translateY(-10vw) scale(0.9, 1.2);
  }
  5%{
    transform: translateY(0) scale(1.4, 0.8);
  }  
  20%, 60%{
    transform: scale(1);
    transition-timing-function: ease-in;
  }  
  66%, 67%{
    transform: translateY(-5vw) scale(0.9, 1.2);
    transition-timing-function: ease-on;
  }
  
  73%{
    transform: translateY(0) scale(1.4, 0.8);
  }
  
  90%{
    transform: translate(0) scale(1);
  }
}



$loader-translate-y: 5vw;
$y : 3.5, 2.5, 1.5, 0.5,-0.5, -1.5, -2.5, -3.5;

@for $i from 1 through 8{
  
  @keyframes loader-translate-y--#{$i}{
    0%, 5%{ 
      transform: translateY(0);       
      transition-timing-function: cubic-bezier(.15,.89,.78,.99); 
    }
    15.5%, 18%{
      transform: translateY($loader-translate-y * nth($y, $i));
      transition-timing-function: cubic-bezier(1,0,1,.44);    
    }
    45%, 55%{
      transform: translate(0);
      transition-timing-function: cubic-bezier(.15,.89,.78,.99);
    }
    65.5%, 68%{
      transform: translateY(-$loader-translate-y * nth($y, $i));
      transition-timing-function: cubic-bezier(1,0,1,.44);      
    }
    95%, 100%{
      transform: translateY(0);
    }
  }    
} 

@keyframes disappearing{
  
  100%{
    opacity: 0;
    z-index: -1;
  }
}