@mixin desktop-only {
  @media screen and (min-width: 992px){
    @content;  
  }
}

@mixin tablet {
  @media screen and (min-width: 768px){
    @content;  
  }
}

@mixin text-size($type-size) {
  $type: map-get($text-size, $type-size);
  font-size: map-get($type, font-size);
  font-weight: map-get($type, font-weight);  
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  box-shadow: 0px 4px 5px darken($color-background-dark, 10%); 
}

@mixin width-card__subtitle ($subtitle-type) {
  $type : map-get($width-card__subtitle, $subtitle-type);
  width: map-get($type, cell-phone);      
  @include tablet{
    width: map-get($type, tablet);
  }
  @include desktop-only{
    width: map-get($type, desktop) ;
  }
}