/*COLORS*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #ffff;
$color-dark: #353535;
$color-background-dark: #eaeaea;
$color-background-light: #f6f6f6;

/*TEXT SIZE*/

$text-size: ( 
  location: (
    font-size: 16px,
    font-weight: 400
  ),
  home-title: (
    font-size: 24px,
    font-weight: 700
  ),
  subtitle: (
    font-size: 18px,
    font-weight: 300
  ),
  btn: (
    font-size: 16px,
    font-weight: 500
  ),
  restaurant-card__title: (
    font-size: 18px,
    font-weight: 700
  ),
  restaurant-card__subtitle: (
    font-size: 17px,
    font-weight: 300
  ),
  new-tag: (
    font-size: 14px,
    font-weight: 500
  ),
  footer: (
    font-size: 16px,
    font-weight: 500
  )
);

/*HOME PAGE*/

$functioning-card__nbr-size_circle: 23px;

/*MAIN*/

$padding-main: 30px 5% ;

/*CARD*/

$card-border-radius: 20px;

/*RESPONCIVE*/

$width-main-for-tablet: 70%;
$min-width-main-for-desktop: 450px;





