.header-shadow{  
  height: 5px;
  background: linear-gradient(darken($color-background-dark, 15%), $color-background-dark);
}

.location{
  @include text-size(location);
  @include flex-center;
  background-color: $color-background-dark;
  p{
    margin: 15px;    
  }
}

.presentation{
  text-align: center;
  background-color: $color-background-light;
  padding: 10%;
  padding-bottom: 60px;
  h1{
    @include text-size(home-title);
    margin: 0px 10%;    
  }
  p{
    @include text-size(subtitle);
    margin-top: 10px;
    margin-bottom: 30px
  }
}

.functioning{
  padding: $padding-main;
  h2{
    @include text-size(home-title);
    margin: 5px 0;
  }
  &-card{
    @include text-size(btn);
    @include flex-center;
    position: relative;
    width: 90%;
    height: 65px;    
    margin: 30px auto;
    background-color: $color-background-light;      
    &__nbr{
      position: absolute;
      left: -7px;
      font-size: 13px;
      width: $functioning-card__nbr-size_circle;
      height: $functioning-card__nbr-size_circle;
      border-radius: $functioning-card__nbr-size_circle;
      background-color: $color-primary;
      color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i{      
      position: absolute;
      left: 13%;
      font-size: 19px;
      color: lighten($color-dark, 30%);
    }
    @include tablet{
      width: $width-main-for-tablet;
    }
    @include desktop-only{
      min-width: $min-width-main-for-desktop;
    }
  }
}

.restaurant{
  padding: $padding-main;
  background-color: $color-background-light;
  h2{
    @include text-size(home-title);
  }
  &-card{
    display: block;
    position: relative;    
    margin: 50px 0;    
    height: 250px;    
    img{
      object-fit: cover;
      width: 100%;
      height: 170px;      
      border-radius: $card-border-radius $card-border-radius 0 0;
      }
    &__title-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:0 5%;      
      h3{
        @include text-size(restaurant-card__title);
        margin-top: 15px;
        margin-bottom: 5px;        
      }
      p{
        @include text-size(restaurant-card__subtitle);
        margin: 0;
      }
      .fa-solid{
        display: none;
      }
      .fa-regular{        
        font-size: 22px;                       
      }      
    }
    &__new-tag{
      position: absolute;
      right: 4%;
      top: 0;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 45%);
      @include text-size(new-tag);
      padding: 6px 10px;
      border-radius: 2px;
    }
    @include tablet{
      width: $width-main-for-tablet;
      margin: 50px auto;
    }
    @include desktop-only{
      min-width: $min-width-main-for-desktop;
    }
  }
}