.button{
  @include text-size(btn);
  background: linear-gradient($color-secondary, $color-primary);
  color: $color-white;
  cursor: pointer;
  border: none;
  padding: 16px 20px;
  border-radius: 30px;
  @include shadow;
  transition: all 250ms ;
  &:hover {
    box-shadow: -1px 3px 6px darken($color-background-dark, 50%);
    opacity: 0.9;
  }   
}