.menu-card{    
  display: flex;  
  margin: 15px 0;
  background-color: $color-white;
  cursor: pointer;

  &__text-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: $card-border-radius;      
    padding: 4%;              
  }

  h3{
    @include text-size(menu-card__title);
    margin: 0;
    margin-bottom: 5px;
    height: 21px;
    overflow: hidden;
  }
  &__price{
    @include text-size(menu-card__price);
    margin: 0 20px;           
  }
  &__subtitle{
    @include text-size(menu-card__subtitle);    
    margin: 0;     
    overflow: hidden;
    text-overflow: "...";     
    white-space: nowrap;
    transition: width 450ms;
    @include width-card__subtitle (large);               
  }

  &__validation-box{
    @include flex-center;
    width: 0%;    
    background-color: $color-tertiary;
    border-radius: 0 $card-border-radius $card-border-radius 0;
    overflow: hidden;
    transition: width 450ms;
    
    i{
      @include flex-center;
      background-color: $color-white;
      color: $color-tertiary;
      font-size: 15px;
      width: $validation-box__i-size_circle;
      height: $validation-box__i-size_circle;
      border-radius: $validation-box__i-size_circle;  
      transform: rotate(0deg);
      transition: transform 500ms;         
    }
  }
  @for $i from 1 to 9 {
    &--#{$i}{
      animation: card-apparition 1000ms backwards;
      animation-delay: $loader-anim-dur + 200ms * $i;
      
    }
    
  }
    //RESPONSIVE        
  @include tablet{
    width: $width-main-for-tablet;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop-only{
    min-width: $min-width-main-for-desktop;
  }
  
}

.radio-toolbar{
  input{
    opacity: 0;
    position: fixed;
    width: 0;   
    &:checked + label > .card{ 
      > .menu-card__text-box > div{
        > p{
          @include width-card__subtitle (small);
        }
      }
      > .menu-card__validation-box{
        width: 30%;  
        > i{
          transform: rotate(360deg);
        }    
      }
    }
    &:not(:checked):hover + label > .card {
      > .menu-card__text-box > div{
        > p{
          @include width-card__subtitle (small);
          
        }
      }
      > .menu-card__validation-box{
        width: 30%;
        > i{
          animation: rotate 500ms forwards;
        }
      } 
    }
  }
}